@tailwind components;
@tailwind base;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono";
  background-color: #191722;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (min-width: 1024px) {
  .trans-grow {
    transition: all 0.2s ease-in-out;
  }

  .trans-grow:hover {
    transform: scale(1.1);
  }
}
